@import "main";

$header__inner-color: #fff;

.container-fluid {
  background: url("../../images/Home_01.jpg") center no-repeat;
  background-size: cover;
}

.container {
  max-width: 1170px;
  padding: 0;
}

.header {
  padding-top: 30px;
  .header__logo {
    font-size: 24px;
    font-weight: 700;
    color: $header__inner-color;
  }
  .header__menu {
    list-style-type: none;
    .header__menu__item {
      padding: 0 15px;
      a {
        text-decoration: none;
        color: $header__inner-color;
        font-family: "Montserrat" sans-serif;
      }
    }
  }
}

.intro {
  text-align: center;
  height: 700px;
  .intro__title {
    font-size: 48px;
    color: $header__inner-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .intro_subtitle {
    font-family: "Roboto Slab";
    font-size: 20px;
    color: $header__inner-color;
    margin-bottom: 50px;
  }
  .intro__pseudoButton {
    font-size: 16px;
    color: $header__inner-color;
    text-transform: uppercase;
    padding: 12px 36px;
    border: 2px solid $header__inner-color;
    border-radius: 3px;
  }
  .intro__pseudoButton:hover {
    background-color: #ffffff;
    color: #c0301c;
  }
}

.section__header {
  margin-top: 100px;
  text-align: center;
  .section__header__title {
    font-family: "Montserrat" sans-serif;
    font-size: 20px;
    color: #555555;
    text-transform: uppercase;
  }
  .section__header__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 30px auto;
    background-color: #555555;
  }
  .section__header__subTitle {
    font-family: "Roboto Slab" sans-serif;
    font-size: 16px;
  }
}

.section__service {
  margin-top: 72px;
}
