@import "_main";

%section_title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

$header__intro__color: #ffffff;
$main__color: #555555;

.container-fluid {
  background: url("../../images/Home_01.jpg") center no-repeat;
  background-size: cover;
}

.container {
  max-width: 1170px;
}

.header {
  padding-top: 30px;
  .header__logo {
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: $header__intro__color;
  }
  .header__nav {
    list-style-type: none;
    .header__nav__item {
      padding: 0 15px;
      a {
        text-decoration: none;
        color: $header__intro__color;
        font-family: "Montserrat", sans-serif;
        &:hover {
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
.nav-link::hover {
  color: #fff;
}
.intro {
  text-align: center;
  height: 700px;
  color: $header__intro__color;
  a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  .intro__title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .intro_subtitle {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .intro__pseudoButton {
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 36px;
    border: 2px solid $header__intro__color;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
  }
  .intro__pseudoButton:hover {
    font-family: "Montserrat";
    background-color: #ffffff;
    color: #c0301c;
  }
}

.service {
  color: $main__color;
  .service__header {
    margin-top: 100px;
    text-align: center;
    .service__header__title {
      @extend %section_title;
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        margin: 30px auto;
        background-color: #555555;
      }
    }
    .service__header__subTitle {
      font-size: 16px;
    }
  }
  .service__content {
    margin-top: 70px;
    .service__content__item {
      display: block;
      max-width: 366px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      h4 {
        margin: 28px 0;
      }
    }
  }
}

.about {
  color: $main__color;
  background-color: #f8f8f8;
  margin-top: 70px;
  padding-bottom: 70px;
  .about__header {
    margin-top: 100px;
    text-align: center;

    .about__header__title {
      @extend %section_title;
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        margin: 30px auto;
        background-color: #555555;
      }
    }
    .about__header__subTitle {
      font-size: 16px;
    }
  }
  .about__content {
    margin: 70px 0 50px;
  }
}

// .carousel {
//   // margin-bottom: 70px;
// }
.carousel-item {
  .col-md-3 {
    max-width: 263px;
    margin-left: 5px;
    padding: 0;
  }
  .col-md-3:first-child {
    margin-left: 0;
  }
}

.carousel__item__img {
  background-color: grey;
  position: relative;
}

.carousel__item__link {
  width: 98px;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 78%;
  a {
    padding: 0 5px;
    color: #ffffff;
    display: none;
  }
  a:hover {
    background-color: #c0301c;
    transition: 0.2s linear;
  }
}

.carousel__inner img {
  transition: opacity 0.2s linear;
}

.carousel__inner:hover img {
  opacity: 0.6;
}

.carousel__inner:hover .carousel__item__link a {
  display: inline-block;
}

.carousel-button {
  background-color: #c0301c;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-decoration: none;
  color: #dddddd;
  text-align: center;
  padding: 0 6px;
  font-family: "Montserrat", sans-serif;
}
.carousel-button.right {
  right: 0;
}

a.carousel-button:active,
a.carousel-button:hover,
a.carousel-button {
  text-decoration: none;
  color: #dddddd;
}

.works {
  color: $main__color;
  margin-top: 70px;
  .works__item {
    background-color: #c0301c;
    margin-bottom: 30px;
    position: relative;
    &:hover .works__item__inner {
      display: block;
    }
    .works__item__inner {
      display: none;
      position: absolute;
      width: 112px;
      left: 50%;
      margin-left: -55px;
      top: 50%;
      transform: translate(0, -50%);
      text-align: center;
      color: #ffffff;

      .works__item__pseudoButton {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        border: 2px solid $header__intro__color;
        padding: 5px 10px;
        margin-top: 5px;
        font: 14px "Roboto Slab", sans-serif;
        &:hover {
          background-color: #ffffff;
          color: #c0301c;
        }
      }
      h5 {
        font: 18px "Montserrat", sans-serif;
      }
      h6 {
        font: 12px "Roboto Slab", sans-serif;
        margin: 10px 0;
      }
    }
  }

  .works__header__title {
    text-align: center;
    @extend %section_title;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      margin: 30px auto;
      background-color: #555555;
    }
  }
}

.works__nav {
  margin-bottom: 60px;

  li {
    padding: 0 12px;
    a {
      text-decoration: none;
      color: #555555;
      &:hover {
        color: #c0301c;
      }
    }
  }
}

.works__item:hover img {
  opacity: 0.3;
}
.works__item img {
  transition: opacity 0.2s linear;
}
