*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px/23px "Roboto Slab", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.service .service__header .service__header__title, .about .about__header .about__header__title, .works .works__header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.container-fluid {
  background: url("../../images/Home_01.jpg") center no-repeat;
  background-size: cover;
}

.container {
  max-width: 1170px;
}

.header {
  padding-top: 30px;
}

.header .header__logo {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.header .header__nav {
  list-style-type: none;
}

.header .header__nav .header__nav__item {
  padding: 0 15px;
}

.header .header__nav .header__nav__item a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.header .header__nav .header__nav__item a:hover {
  font-weight: 700;
}

.intro {
  text-align: center;
  height: 700px;
  color: #ffffff;
}

.intro a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.intro .intro__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro .intro_subtitle {
  font-size: 20px;
  margin-bottom: 50px;
}

.intro .intro__pseudoButton {
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 36px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
}

.intro .intro__pseudoButton:hover {
  font-family: "Montserrat";
  background-color: #ffffff;
  color: #c0301c;
}

.service {
  color: #555555;
}

.service .service__header {
  margin-top: 100px;
  text-align: center;
}

.service .service__header .service__header__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 30px auto;
  background-color: #555555;
}

.service .service__header .service__header__subTitle {
  font-size: 16px;
}

.service .service__content {
  margin-top: 70px;
}

.service .service__content .service__content__item {
  display: block;
  max-width: 366px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.service .service__content .service__content__item h4 {
  margin: 28px 0;
}

.about {
  color: #555555;
  background-color: #f8f8f8;
  margin-top: 70px;
  padding-bottom: 70px;
}

.about .about__header {
  margin-top: 100px;
  text-align: center;
}

.about .about__header .about__header__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 30px auto;
  background-color: #555555;
}

.about .about__header .about__header__subTitle {
  font-size: 16px;
}

.about .about__content {
  margin: 70px 0 50px;
}

.carousel-item .col-md-3 {
  max-width: 263px;
  margin-left: 5px;
  padding: 0;
}

.carousel-item .col-md-3:first-child {
  margin-left: 0;
}

.carousel__item__img {
  background-color: grey;
  position: relative;
}

.carousel__item__link {
  width: 98px;
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 78%;
}

.carousel__item__link a {
  padding: 0 5px;
  color: #ffffff;
  display: none;
}

.carousel__item__link a:hover {
  background-color: #c0301c;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.carousel__inner img {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.carousel__inner:hover img {
  opacity: 0.6;
}

.carousel__inner:hover .carousel__item__link a {
  display: inline-block;
}

.carousel-button {
  background-color: #c0301c;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-decoration: none;
  color: #dddddd;
  text-align: center;
  padding: 0 6px;
  font-family: "Montserrat", sans-serif;
}

.carousel-button.right {
  right: 0;
}

a.carousel-button:active,
a.carousel-button:hover,
a.carousel-button {
  text-decoration: none;
  color: #dddddd;
}

.works {
  color: #555555;
  margin-top: 70px;
}

.works .works__item {
  background-color: #c0301c;
  margin-bottom: 30px;
  position: relative;
}

.works .works__item:hover .works__item__inner {
  display: block;
}

.works .works__item .works__item__inner {
  display: none;
  position: absolute;
  width: 112px;
  left: 50%;
  margin-left: -55px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
  color: #ffffff;
}

.works .works__item .works__item__inner .works__item__pseudoButton {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 5px 10px;
  margin-top: 5px;
  font: 14px "Roboto Slab", sans-serif;
}

.works .works__item .works__item__inner .works__item__pseudoButton:hover {
  background-color: #ffffff;
  color: #c0301c;
}

.works .works__item .works__item__inner h5 {
  font: 18px "Montserrat", sans-serif;
}

.works .works__item .works__item__inner h6 {
  font: 12px "Roboto Slab", sans-serif;
  margin: 10px 0;
}

.works .works__header__title {
  text-align: center;
}

.works .works__header__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 30px auto;
  background-color: #555555;
}

.works__nav {
  margin-bottom: 60px;
}

.works__nav li {
  padding: 0 12px;
}

.works__nav li a {
  text-decoration: none;
  color: #555555;
}

.works__nav li a:hover {
  color: #c0301c;
}

.works__item:hover img {
  opacity: 0.3;
}

.works__item img {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/*# sourceMappingURL=style.css.map */